.navbar {
}

.nav-container {
  max-width: 960px;
  width: auto;
}

.container-fluid {
  background-color: tomato;
  height: calc(100vh - 60px - 96px);
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}